<% content_for(:title, 'Account') %>

<div class="mx-auto xl:w-3/4 px-12 w-full py-4">

  <h1 class="text-4xl">Account Profile (<%= @current_user.email %>)</h1>

  <%= form_with model: @current_user, class: "my-4" do |form| %>
    <%= render "users/fields_for", form: form %>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Update account", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <h1 class="text-4xl mb-2 mt-20">Subscription Status</h1>

  <%= render "subscriptions/status", user: @current_user %>

</div>
