<div class="md:flex md:size-full" data-controller="editor">
  <div data-editor-target="root" class="h-screen md:size-full">
    <div class="mx-5">
      PreTeXt.Plus (beta) works best in a Chromium-based browser such as Google Chrome or Microsoft Edge.
      If you're seeing this message, please switch to a supported browser.
    </div>
  </div>
  <%= form_with(model: project, class: "hidden", html: {"data-editor-target" => "form"}) do |form| %>
    <%= form.hidden_field :title, "data-editor-target" => "titleField" %>
    <%= form.hidden_field :content, "data-editor-target" => "contentField" %>
    <%= form.hidden_field :token, "data-editor-target" => "tokenField", value: ENV["BUILD_TOKEN"] %>
    <%= form.hidden_field :host, "data-editor-target" => "hostField", value: ENV["BUILD_HOST"] %>
  <% end %>
</div>
