<% content_for :title, "Projects" %>

<div class="w-full mx-auto p-2 md:w-2/3">
  <div class="flex items-center gap-2">
    <h1 class="text-3xl">
      Projects
      (<%= @projects.count %>/<%= @current_user.project_quota %>)
    </h1>
    <% if @current_user && @current_user.projects.count < @current_user.project_quota %>
      <%= link_to "+ New project", new_project_path, class: "inline-flex select-none items-center gap-2 rounded-md cursor-pointer ml-1 px-4 py-2 my-1 text-medium bg-green-600 text-white font-bold drop-shadow-md hover:bg-green-500", data: { turbo: false } %>
    <% end %>
  </div>

  <div id="projects" class="min-w-full space-y-5">
    <% unless @current_user.subscribed? %>
      <div class="rounded-lg border-2 border-blue-500 p-4 text-sky-900 mt-6 mx-auto md:w-3/4">
      <% if @current_user.invited? %>
          <p>
            Thanks for using <span class="font-semibold">PreTeXt.Plus</span>!
            We created this service so anyone can use the free and open-source PreTeXt project to create high-quality and accessible
            scholarly documents. If you'd like to support us, please consider becoming a sustaining subscriber, which helps us fund
            development and keep the service running for everyone. As a sustaining subscriber, you'll also get access to exclusive
            features and early access to new tools.
          </p>
          <div class="mt-4 flex gap-2 items-center">
            <span class="font-semibold">Support PreTeXt.Plus development:</span>
            <%= link_to subscriptions_path, class: "rounded-md px-3.5 py-2 bg-green-600 hover:bg-green-500 text-white font-medium" do %>
              Subscribe
            <% end %>
          </div>
      <% else %>
          <p>
            Thanks for creating a <span class="font-semibold">PreTeXt.Plus</span> account! While we're
            in our beta release period, new users need to use a <code>.edu</code> email address, be invited by existing users, or
            <%= link_to subscriptions_path, class: "font-semibold text-blue-600 hover:underline" do %>become a paid subscriber<% end %>
            in order to create projects.
          </p>
          <div class="mt-4">
            <%= form_with url: redeem_invitation_path, method: :post, local: true, class: "flex gap-2 items-center" do |f| %>
              <%= f.label :code, "Enter invite code:", class: "font-semibold" %>
              <%= f.text_field :code, placeholder: "Example: 91cc5d85-f0f8-4ceb-92c0-aaa435648a81", class: "flex-1 rounded-md border border-gray-300 px-3 py-2 text-sm" %>
              <%= f.submit "Redeem", class: "rounded-md px-3.5 py-2 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
            <% end %>
          </div>
          <div class="mt-4 flex gap-2 items-center">
            <span class="font-semibold">Or</span>
            <%= link_to subscriptions_path, class: "rounded-md px-3.5 py-2 bg-green-600 hover:bg-green-500 text-white font-medium" do %>
              Subscribe
            <% end %>
            <% unless @current_user.requested_invitation? %>
              <%= form_with url: requests_path, method: :post, local: true do |f| %>
                <%= f.submit "Request invitation", class: "rounded-md px-3.5 py-2 bg-yellow-600 hover:bg-yellow-500 text-white font-medium cursor-pointer" %>
              <% end %>
            <% else %>
              <span class="rounded-md px-3.5 py-2 bg-gray-400 text-white font-medium">
                (Invitation requested)
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <%= link_to project, class: "block rounded-xl bg-white p-4 m-3 ring-2 ring-gray-100 hover:ring-indigo-200 sm:p-6 lg:p-8", data: { turbo: false } do %>
          <span class="flex items-start sm:gap-8">
            <span class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center" aria-hidden="true">
              <% if project.latex_source_format? %>
                <%= image_tag "latex-pretext-logo.svg", alt: "PreTeXt logo" %>
              <% elsif project.pmd_source_format? %>
                <%= image_tag "markdown-pretext-logo.svg", alt: "PreTeXt logo" %>
              <% else %>
                <%= image_tag "pretext-logo.svg", alt: "PreTeXt logo" %>
              <% end %>
            </span>

            <span>
              <% if project.latex_source_format? %>
                <strong class="rounded-sm border border-orange-500 bg-orange-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  LaTeX-style PreTeXt
                </strong>
              <% elsif project.pmd_source_format? %>
                <strong class="rounded-sm border border-purple-500 bg-purple-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  Markdown-style PreTeXt
                </strong>
              <% else %>
                <strong class="rounded-sm border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  PreTeXt
                </strong>
              <% end %>

              <h3 class="mt-4 text-lg font-medium sm:text-xl">
                <%= project.title %>
              </h3>

              <p class="mt-1 text-sm text-gray-700">
                Last updated: <time datetime="<%= project.updated_at.iso8601 %>" title="<%= project.updated_at.localtime.strftime('%B %-d, %Y at %-I:%M %p %Z') %>"><%= time_ago_in_words(project.updated_at) %> ago</time>
              </p>
            </span>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found.</p>
    <% end %>
    <% if @invitations.present? %>
      <h1 class="text-3xl my-2">Invitation codes</h1>
      <ol class="list-decimal">
        <% @invitations.each do |invitation| %>
          <li>
            <% if invitation.recipient_user.blank? %>
              <% if invitation.intended_email.present? %>
                <code class="p-2 rounded-sm bg-yellow-100 text-yellow-900"><%= invitation.code %></code> — intended for
                <code class="text-yellow-900"><%= invitation.intended_email %></code>
              <% else %>
                <code class="p-2 rounded-sm bg-blue-100 text-blue-900"><%= invitation.code %></code>
              <% end %>
            <% else %>
              <code class="p-2 rounded-sm bg-gray-100 text-gray-900"><%= invitation.code %></code> — claimed by
              <code class="text-gray-900"><%= invitation.recipient_user.email %></code>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
