<% content_for :title, "Showing #{@project.title}" %>

<div class="px-4 w-full md:w-2/3 md:mx-auto">
  <div class="my-4">
    <h2 class="text-3xl font-semibold my-3">Project: <span class="text-gray-600 font-normal"><%= @project.title %></span></h2>
    <div class="my-2">
      <%= link_to "Edit", edit_project_path(@project), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Sharable link", project_share_path(@project), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Back to projects", projects_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= button_to "Destroy this project", @project, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    </div>
    <div class="my-2">
      Subscriber features:
      <%= button_to "Copy", project_copy_path(@project), method: :post, form_class: "w-full sm:w-auto sm:inline-block", class: "w-full text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium cursor-pointer" %>
    </div>
  </div>

  <%= render @project %>
</div>
