<div class="text-left mb-4">
    <p class="text-gray-600">
        <span class="font-semibold">Subscribed on:</span>
        <%= subscription.created_at.strftime('%Y-%m-%d') %>
    </p>
    <p class="text-gray-600">
        <span class="font-semibold">Status:</span>
        <span class="<% unless subscription.grants_privileges? %>text-yellow-600<% end %>">
            <%= subscription.status.humanize.capitalize %>
        </span>
        <% if subscription.grants_privileges? and subscription.canceled? %>
            <span class="text-yellow-600">(set to expire)</span>
        <% end %>
    </p>
    <p class="text-gray-600">
        <span class="font-semibold">Occupied seats:</span>
        <%= subscription.seated_users.count %>/<%= subscription.quantity %>
    </p>
    <p class="text-gray-600">
        <span class="font-semibold">Price:</span>
        <span class="text-violet-800">
        <% if subscription.quantity > 1 %>
            <%= subscription.type.price %>/seat/<%= subscription.type.recurrence %> =
            <%= number_to_currency(subscription.price, unit: "$", precision: 0) %>/<%= subscription.type.recurrence %>
        <% else %>
            <%= subscription.type.price %>/<%= subscription.type.recurrence %>
        <% end %>
        </span>
    </p>
    <% if subscription.grants_privileges? %>
        <p class="text-gray-600">
            <span class="font-semibold">
                <% if subscription.cancelled? %>
                    Plan will expire on:
                <% else %>
                    Next scheduled payment:
                <% end %>
            </span>
            <%= subscription.current_period_end.strftime('%Y-%m-%d') %>
        </p>
    <% end %>
</div>
