<!DOCTYPE html>
<html>
  <head>
    <title>PreTeXt.Plus<% if content_for(:title).present? %> | <%= content_for(:title) %><% end %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pretext Plus">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="bg-white px-6 py-4 shadow md:fixed w-full z-10 top-0 left-0 border-b border-gray-200 md:h-16">
        <div class="flex flex-col container mx-auto md:flex-row md:items-center md:justify-between">
            <div class="flex justify-between items-center">
                <div>
                  <%= link_to :root, class: "flex items-center" do %>
                      <img src="/icon.svg" class="h-6 mr-3 sm:h-9" alt="PreTeXtPlus Logo">
                      <span class="self-center text-xl font-semibold whitespace-nowrap">PreTeXt.Plus (beta)</span>
                  <% end %>
                </div>
            </div>
            <div class="flex flex-col md:flex-row md:-mx-4" :class="isOpen ? 'block' : ['hidden' , 'md:block']">
                <%= link_to :projects, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                  Projects
                <% end %>
                <%= link_to :root, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                  About
                <% end %>
                <% if @current_user&.admin %>
                  <%= link_to new_invitation_path, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                    Invitations
                  <% end %>
                <% end %>
                <% if @current_user.present? %>
                  <%= link_to :session, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                    Account (<%= @current_user.email %>)
                  <% end %>
                <% else %>
                  <%= link_to tryit_path, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0", data: { turbo: false } do %>
                    Try it!
                  <% end %>
                <% end %>
            </div>
        </div>
    </nav>
    <div class="w-full">
      <% if notice.present? or params[:notice].present? %>
        <div class="relative w-full z-10 flex justify-center cursor-pointer -mb-16" onclick="this.remove()">
          <p class="mt-20 py-2 px-3 bg-blue-100 border-blue-200 border text-blue-500 font-medium rounded-md inline-block">
            ℹ <%= notice.present? ? notice : params[:notice] %>
          </p>
        </div>
      <% elsif alert.present? %>
        <div class="relative w-full z-10 flex justify-center cursor-pointer -mb-16" onclick="this.remove()">
          <p class="mt-20 py-2 px-3 bg-yellow-100 border-yellow-200 border text-yellow-700 font-medium rounded-md inline-block">⚠ <%= alert %></p>
        </div>
      <% end %>
      <main class="w-full flex md:h-screen md:pt-16">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
