<!DOCTYPE html>
<html>
  <head>
    <title>PreTeXt.Plus<% if content_for(:title).present? %> | <%= content_for(:title) %><% end %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pretext Plus">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="bg-white px-6 py-4 shadow md:fixed w-full z-10 top-0 left-0 border-b border-gray-200 md:h-16">
        <div class="flex flex-col container mx-auto md:flex-row md:items-center md:justify-between">
            <div class="flex justify-between items-center">
                <div>
                  <%= link_to :root, class: "flex items-center" do %>
                      <img src="/icon.svg" class="h-6 mr-3 sm:h-9" alt="PreTeXtPlus Logo">
                      <span class="self-center text-xl font-semibold whitespace-nowrap">PreTeXt.Plus (beta)</span>
                  <% end %>
                </div>
            </div>
            <div class="flex flex-col md:flex-row md:-mx-4">
                <% if @current_user.present? %>
                  <%= link_to :projects, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                    Projects
                  <% end %>
                <% end %>
                <%= link_to :root, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" do %>
                  About
                <% end %>
                <% if @current_user.present? %>
                  <div class="relative group">
                    <label for="helpMenuToggle" class="my-1 text-gray-800 cursor-pointer hover:text-blue-500 md:mx-4 md:my-0 select-none">
                      Help&nbsp;&#9662;
                    </label>
                    <input type="checkbox" id="helpMenuToggle" class="navbarMenuToggle sr-only">
                    <div class="navbarMenu absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg border border-gray-200 md:left-auto md:right-0">
                      <a href="https://pretextbook.org/examples/sample-article/annotated/" target="_blank" class="block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500 rounded-t-md">
                        PreTeXt Sample Article
                      </a>
                      <a href="https://pretextbook.org/doc/guide/html/" target="_blank" class="block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500">
                        PreTeXt Guide
                      </a>
                      <a href="mailto:support@pretext.plus" target="_blank" class="block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500">
                        Email Support
                      </a>
                    </div>
                  </div>
                <% end %>
                <% if @current_user&.admin? %>
                  <div class="relative group">
                    <label for="adminMenu" class="my-1 text-gray-800 cursor-pointer hover:text-blue-500 md:mx-4 md:my-0 select-none">
                      Admin&nbsp;&#9662;
                    </label>
                    <input type="checkbox" id="adminMenu" class="navbarMenuToggle sr-only">
                    <div class="navbarMenu absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg border border-gray-200 md:left-auto md:right-0">
                      <%= link_to new_invitation_path, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Invitations
                      <% end %>
                      <%= link_to subscription_types_path, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Subscription Types
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @current_user.present? %>
                  <div class="relative group">
                    <label for="accountMenu" class="my-1 text-gray-800 cursor-pointer hover:text-blue-500 md:mx-4 md:my-0 select-none">
                    Account&nbsp;(<%= @current_user.email %>)&nbsp;&#9662;
                    </label>
                    <input type="checkbox" id="accountMenu" class="navbarMenuToggle sr-only">
                    <div class="navbarMenu absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg border border-gray-200 md:left-auto md:right-0">
                      <%= link_to :session, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Profile
                      <% end %>
                      <%= link_to subscriptions_path, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Manage Subscriptions
                      <% end %>
                      <%= link_to :session, data: { turbo_method: :delete },class: "block px-4 py-2 text-red-700 hover:bg-red-50 hover:text-red-800" do %>
                        Sign out
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="relative group">
                    <label for="accountMenu" class="my-1 text-gray-800 cursor-pointer hover:text-blue-500 md:mx-4 md:my-0 select-none">
                    Account&nbsp;&#9662;
                    </label>
                    <input type="checkbox" id="accountMenu" class="navbarMenuToggle sr-only">
                    <div class="navbarMenu absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg border border-gray-200 md:left-auto md:right-0">
                      <%= link_to new_user_path, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Create account
                      <% end %>
                      <%= link_to new_session_path, class: "block px-4 py-2 text-gray-800 hover:bg-blue-50 hover:text-blue-500" do %>
                        Sign in
                      <% end %>
                    </div>
                  </div>
                  <%= link_to tryit_path, class: "my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0", data: { turbo: false } do %>
                    Try it!
                  <% end %>
                <% end %>
            </div>
        </div>
    </nav>
    <div class="w-full">
      <% if notice.present? or params[:notice].present? %>
        <div class="relative w-full z-10 flex justify-center cursor-pointer -mb-16" onclick="this.remove()">
          <p class="mt-20 py-2 px-3 bg-blue-50 border-blue-200 border-1 text-blue-500 rounded-md inline-block">
            ℹ <%= notice.present? ? notice : params[:notice] %>
          </p>
        </div>
      <% elsif alert.present? %>
        <div class="relative w-full z-10 flex justify-center cursor-pointer -mb-16" onclick="this.remove()">
          <p class="mt-20 py-2 px-3 bg-yellow-100 border-yellow-200 border text-yellow-700 rounded-md inline-block">⚠ <%= alert %></p>
        </div>
      <% end %>
      <main class="w-full flex md:h-screen md:pt-16">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>
  </body>
</html>
